.place {
  padding-top: 80px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    'title website'
    'image paragraphs';
}

.place:first-child {
  padding-top: 0;
}


@media screen and (max-width:1023px) {
  .place {
    padding-top: 73px;
  }
} 


@media screen and (max-width:767px) {
  .place {
    padding-top: 49px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
      'title'
      'image'
      'paragraphs';
  }
} 